h1.d-header {
  font-weight: 400;
}

h2.d-header {
  font-weight: 400;

}

h3.d-header {
  font-weight: 400;

}

h1 {
  font-size: 2em;
}

ul, ol {
  margin: 8px 0px;
}

ul.d-list.d-unordered-lists,
ol.d-list.d-ordered-lists {
  padding-inline-start: 40px;
}

p {
  margin: 0;
}